<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>xilan</li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>Designed by Spaghetti</p>
        <p>Proudly hosted by <a href="https://pages.github.com/" target="_blank"><span class="octicon octicon-logo-github" style="color: #828282;
    position: relative;
    top: 4px;
    left: 3px;
    font-size: 20px;"></span></a></p>
      </div>
    </div>
  </div>
</footer>